#ProductThumbs{display: none;}

/*Take me to my course button. */
.take-me-button{
background: #F48102;
padding: 8px 18px;
color: #fff;
border-radius: 5px;
line-height: normal;
font-weight: 600;
font-size: 12px;
letter-spacing: 1px;
  float:right;
}


.take-me-button:hover{
  background: #F48102;
padding: 8px 18px;
color: #fff;
border-radius: 5px;
line-height: normal;
font-weight: 600;
font-size: 12px;
letter-spacing: 1px;

  opacity: 0.7

}

/* custom css */
.live-ce-banner {
background-size: cover;
}
.live-ce-banner .wrapper {
position: relative;
height: 100%;
}

/* Removing this rule to shorten reduce height of header img ang bring event above fold */
/* .live-ce-banner {
height: 425px;
} */


.live-ce-banner .videoBox {
width: 500px;
height: auto;
margin-left: 0;
left: auto;
margin: 30px 0;
position: relative;
z-index: 1;
display: inline-block;
*display: inline;
zoom: 1;
vertical-align: top;
}
.live-ce-banner .videoBox iframe {
position: absolute;
top: 0 !important;
left: 0 !important;
width: 100% !important;
height: 100% !important;
z-index: 1;
-moz-transform: none;
-webkit-transform: none;
transform: none;
}
.videoGallery .video a {
margin-bottom: 25px;
position: relative;
display: block;
}
.videoGallery .video img {
display: block;
}
.videoGallery .video a:after {
background: url(youtube-64.png) 50%  50% no-repeat;
content: ' ';
width: 100%;
height: 100%;
display: block;
position: absolute;
top: 0;
left: 0;
z-index: 2;
background-color: rgba(255,255,255,0.5);
}
.accTable {
border: solid 0px !important;
margin-bottom: 15px;
}
.accTable td {
padding: 15px 0;
border: solid 0px !important;
border-bottom: solid #e5e5e5 1px !important;
}
.accTable  .cb {
display: none;
}

.accTable .img {
float: left;
margin-right: 15px;
}
.accTable .name strong {
display: block;
font-weight: normal;
}
.accTable .name em {
font-weight: bold;
font-style: normal;
font-size: 1.25em;
}
.testimonial-container .testimonial div {
display: table;
top: 0 ;
float: none;
}

.testimonial-container .testimonial div span.td {
display: table-cell;
vertical-align: top;
padding-right: 15px;
}

.testimonial-container .testimonial img {
display: block;
float: none;
top: 0;
box-shadow: 3px 3px 3px #333;

}
.live-ce-schedules .schedule-content span {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}
.main-content {
clear: both;
overflow: auto;
}
#about-us .about-head-background {
background-size: cover;
}
.main-nav .site-nav li {
position: relative;
}
.main-nav .site-nav li ul {
position: absolute;
top: 46px;
left: 0;
z-index: 1;
width: 200px;
background: #fff;
border: solid #666 1px;
border-top: solid #fff 0px;
margin: 0;
display: none;
}
.main-nav .site-nav li:hover ul {
display: block;
}
.main-nav .site-nav li ul li {
display: block;
text-align: left;
}
.testimonial-container {
background: #29AFCB;
padding: 2em 0;
box-shadow: 1px 2px 5px 2px #333;
}
.testimonial-container .testimonial img {
border-color: #fff;
border-color: rgba(255,255,255,0.7);
}

.videoTmbBox .tmb {
width: 125px;
margin-right: 15px;
float: left;
position: relative;
}
.videoTmbBox .tmb svg {
position: absolute;
top: 50%;
left: 50%;
margin: -12px 0 0 -17px;
z-index: 1;
width: 34px;
height: 24px;
}
.videoTmbBox .tmb img {
display: block;
}
.videoTmbBox a {
color: #333;
display: block;
min-height: 92px;
padding: 10px;
border-bottom: solid #eeeeee 1px;
}
.videoTmbBox a:hover,
.videoTmbBox a.active {
background: #29AFCB;
color: #fff;
border-bottom-color:  #00B1CD;
opacity: 1;
}
.videoTmbBox h2 {
font-size: 14px;
margin: 0 0 10px 140px;
}
.videoTmbBox p {
margin: 0 0 0 140px;
font-size: 12px;
}
.videoGallery {
padding-top: 50px;
}
.videoGallery > h2 {
text-align: center;
}
.videoBox {
margin-bottom: 15px;
}
table.coopCompare th,
table.coopCompare td {
width: 10% ;
}
table.coopCompare th:first-child,
table.coopCompare td:first-child {
text-align: left !important;
width: 60%;
}
.live-ce-banner {
text-align: right;
}
.live-ce-banner .introText {
color: #29AFCB;
text-align: center;
margin: 0px 0px 0px 586px;
}
.live-ce-banner .introText a {
display: inline-block;
*display: inline;
background: #00b1cd none repeat scroll 0 0;
border-radius: 50px;
color: #29AFCB;
font-size: 14px;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 0.5px;
line-height: 35px;
margin: 0 0.5em 1em 0.5em;
padding: 0px 0px 0px 450px ;
text-align: center;
}
#live-ce .rte {
padding-top: 50px;
}
#live-ce .rte h3 {
font-weight: normal;
}

.addressSection p span {
 color: #00b1cd;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.dTable {
display: table;
width: 100%;
margin-left: 0;
}
.dCell {
display: table-cell;
float: none;
vertical-align: middle;
padding: 0 0;
}
.dCell.oc-video-cont {
padding-right: 35px;
}

/*
	Default Layout: Ipad Landscape
	1024px.
*/
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .Footer .Inner {
    width: 960px;
  }
  .live-ce-banner .videoBox {
  width: 400px;
  margin-top: -112px;
  }
}


/*
Tablet Layout: 768px.
Gutters: 24px.
Inner: 720px;
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .live-ce-schedules .schedule-heading span,
  .live-ce-schedules .schedule-content span {
  width: 30%;
  padding: 15px;
  }
  .live-ce-schedules .schedule-heading span {
  padding-bottom: 0
  }
  .live-ce-banner .videoBox {
  width: 50%;
  }
  .dCell {
  display: block;
  float: none;
  vertical-align: middle;
  padding: 0 0;
  }
  .dCell.oc-video-cont {
  padding-right: 0;
  }


}
/*
Mobile Layout: 320px.
Gutters: 24px.
Inner: 272px;
*/

@media only screen and (max-width: 767px) {
  .top-menu > ul {
  display: block;
  }
  .site-header {
  padding-bottom: 30px;
  }
  .live-ce-schedules .schedule-heading span,
  .live-ce-schedules .schedule-content span {
  width: 30%;
  padding: 10px;
  font-size: 14px;
  }
  .live-ce-schedules .schedule-heading span {
  padding-bottom: 0
  }
  .live-ce-banner .videoBox {
  display: none
  }
  h2, .h2 {
  font-size: 26px;
  }
  .table-wrapper {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  }
  .coop-compare-container table th span,
  .coop-compare-container table td {
  font-size: 14px !important;
  }
  #about-us .about-head-background h2 {
  font-size: 36px;
  }
  .main-nav .site-nav li {
  border-bottom: solid #ccc 1px;
  }
  .main-nav .site-nav li:last-child {
  border-bottom: solid #ccc 0px;
  }
  .main-nav .site-nav li a {
  text-align: left;
  padding: 10px;
  }
  .main-nav .site-nav li ul {
  display: block;
  width: auto;
  text-align: left;
  position: static;
  border: solid 0px;

  }
  .main-nav .site-nav li ul li {
   border-bottom: solid #ccc 0px;
  }
  .main-nav .site-nav li ul li a {
  text-align: left;
  font-size: 12px;
  padding:  10px 10px 10px 20px !important;
  }
  li .icon-arrow-down {
  display: none;
  }
  .testimonial-container {
  padding: 0em 0 0 0;
  }
  .videoTmbBox .tmb {
  width: 75px !important;
  }
  .videoTmbBox p,
  .videoTmbBox h2 {
  margin-left: 90px !important;
  }
  table.coopCompare tr,
  table.coopCompare td{
  display: block;
  }
  table.coopCompare,
  table.coopCompare thead,
  table.coopCompare tbody,
  table.coopCompare th,
  table.coopCompare td,
  table.coopCompare tr {
		display: block;
	}
  table.coopCompare thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
  table.coopCompare td {
  width: 100%;
  min-height: 45px;
  padding-left: 50%;
  position: relative;
  font-weight: bold;
  }
  table.coopCompare td:first-child {
  width: 100%;
  padding-left: 10px;
  }
  table.coopCompare td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 10px;
		left: 10px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
   text-align: left;
  color: #4cadc9;
  font-weight: normal;
  font-size: 12px;
	}
  table.coopCompare td:nth-of-type(2):before {
    content: "The Coop";
  }
  table.coopCompare td:nth-of-type(3):before {
    content: "Most LMS's";
  }
  table.coopCompare td:nth-of-type(4):before {
    content: "Most Intranets";
  }
  table.coopCompare td:nth-of-type(5):before {
    content: "Email";
  }
  #live-ce .rte h3 {
  font-size: 18px;
  }
  .dCell {
  display: block;
  float: none;
  vertical-align: middle;
  padding: 0 0;
  }
  .dCell.oc-video-cont {
  padding-right: 0;
  }


}

/*
Wide Mobile Layout: 480px.
Gutters: 24px.
Inner: 432px
 */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .top-menu > ul {
  display: inline-block;
  }
}

/*
Wide Mobile Layout: 640px.
Gutters: 24px.
Inner: 600px
 */

@media only screen and (min-width: 640px) and (max-width: 767px) {
  .top-menu > ul {
  display: inline-block;
  }
}

/* HubSpot Form Stuff or Whatever*/

.hs-form input[type="text"], .hs-form input[type="email"], .hs-form input[type="tel"] {
  	border-radius: 5px;
  	background-color: #fff;
    margin-top: 7px;
  	border: 2px solid #00B1CD;
  	color: #857d7d;
  	font-weight: 700;
  	text-align: center;
	}

body .hs-button.primary {
	border-radius: 5px;
    background-color: #F48102;
    padding: 9px 39px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    color: white;
    font-weight: 700;
	}

.hs-form-required {
  	color: #29AFCB;
  	display: none;
	}

body input[type="submit"]:hover {
  	background-color: #F48102;
	}

.hs-form.stacked {
  	text-align:
    -webkit-center;
  	padding: 0px 0px 0px;
  	margin-top: 0px;
  	margin-left: 0px;
  	margin-bottom: -25px
	}

.hs-form fieldset {
    border: 0;
    padding: 0;
    margin: 18px 0px 0px !important;
    max-width: 500px;
    float: left;
    margin-left: 225px !important;
}

.hs_submit {
    margin-top: 24px;
    margin-left: 3px;
	}

.video-subscription-container .hs_submit {
    float: left;
	}

.oc-video-form {
    background: #29AFCB;
    box-shadow: 1px 2px 5px 2px #333;
    margin-left: 30px !important;
    padding-left: 6px;
    float: left;
    margin-top: 26px !important;
    width: 27.333% !important;
	min-width: 287px;
	}

/* START cart customizations -- dand */
.warning {
    background: #fea;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: normal;
	margin-bottom: 10px;
}

.rules-confirm {
    margin-top: 30px;
    font-size: 19px;
    padding: 5px 30px;
}

#rules-checkbox {
    vertical-align: middle;
    margin-top: -2px;
}

/* END cart customizations */



/* Start Live CE Header CSS  */

.hero-image-live-ce {
    background-image: url(https://c-cdn.knowledgecoop.com/wp-content/uploads/2017/12/desk-full.jpg) !important;
    /* height: 500px; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
		background-position: right top !important;
		margin-bottom: 30px;
}
.hero-text-live-ce {
  text-align: center;
  position: absolute;
  top: 47%;
  left: 36%;
  transform: translate(-49%, -50%);
  color: white;
}

.hero-text-live-ce h1{
  font-size: 4pc;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: black;
}



@media only screen and (max-width: 700px) {


        .hero-text-live-ce h1{
          font-size: 3pc;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          transform: translate(0%, 30%);
          padding: 0px 10px;
        }


        .hero-image-live-ce {
          background-image: url(https://c-cdn.knowledgecoop.com/wp-content/uploads/2017/12/moble.jpg)!important;
          height: 300px;
          /* background-position: center; */
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);

      }


      .hero-text-live-ce {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 0px;
      }
}


@media only screen and (max-width: 900px) {



	.hero-text-live-ce h1{
		font-size: 3pc;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		transform: translate(0%, 20%);
		padding: 0px 10px;
	}



}



@media only screen and (min-width: 1550px)  {
        .hero-text-live-ce h1{
          font-size: 6pc;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          margin-bottom: 2px;
        }
}


/* } */



/* END Live CE Header CSS  */
