<!-- /templates/index.liquid -->




<!-- homepage banner -->
<div class="home-banner" style="background-image: url({{ pages.frontpage.metafields.global.banner }});">
  {{ pages.frontpage.content }}
</div>
{{ pages.home-content.content }}



<!-- subscribe to video -->


{% include 'subscribe' %}

