<!-- /templates/page.liquid -->
<style>

#main_content {
    font-family: Roboto;
    font-weight: 100 !important;

}

.main-content {
    display: block;
    margin-top: -20px;
    padding-bottom:0px;
}

h4 {
font-size: 35px;
margin-bottom:7px;
font-weight: 100;
}
h5 {
font-size: 25px;
font-weight: 100;
}
hr {
	height: 15px;
	background-color: #16486d;
  margin: 0px;
}

.transition,#fbody p,#fbody ul li i:before,#fbody ul li i:after { transition: all 0.25s ease-in-out; }
.flipIn,#fbody h1,#fbody ul li { animation: flipdown 0.5s ease both; }
.no-select,#fbody h2 { -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#fbody { min-height: 0; display: inline-block; position: relative; left: 50%; margin: 90px 0; transform: translate(-50%, 0); box-shadow: 0 10px 0 0 #29afcb inset; background-color: #fefffa; max-width: 850px; padding: 30px; }
@media (max-width: 550px) { #fbody { box-sizing: border-box; transform: translate(0, 0); max-width: 100%; min-height: 100%; margin: 0; left: 0; } } #fbody h2 { font-size: 26px; line-height: 34px; font-weight: 300; letter-spacing: 1px; display: block; background-color: #fefffa; margin: 0; cursor: pointer; }
#fbody p { color: rgba(48, 69, 92, 0.8); font-size: 17px; line-height: 26px; letter-spacing: 1px; position: relative; overflow: hidden; max-height: 800px; opacity: 1; transform: translate(0, 0); margin-top: 14px; z-index: 2; }
#fbody ul { list-style: none; perspective: 900; padding: 0; margin: 0; }
#fbody ul li { position: relative; padding: 0; margin: 0; padding-bottom: 4px; padding-top: 18px; border-top: 1px dotted #dce7eb; } #fbody ul li:nth-of-type(1) { animation-delay: 0.5s; } #fbody ul li:nth-of-type(2) { animation-delay: 0.75s; }
#fbody ul li:nth-of-type(3) { animation-delay: 1s; } #fbody ul li:last-of-type { padding-bottom: 0; }
#fbody ul li i { position: absolute; transform: translate(-6px, 0); margin-top: 16px; right: 0; }
#fbody ul li i:before,#fbody ul li i:after { content: ""; position: absolute; background-color: #29afcb; width: 3px; height: 9px; }
#fbody ul li i:before { transform: translate(-2px, 0) rotate(45deg); } #fbody ul li i:after { transform: translate(2px, 0) rotate(-45deg); }
#fbody ul li input[type=checkbox] { position: absolute; cursor: pointer; width: 100%; height: 100%; z-index: 1; opacity: 0; } #fbody ul li input[type=checkbox]:checked ~ p { margin-top: 0; max-height: 0; opacity: 0; transform: translate(0, 50%); }
#fbody ul li input[type=checkbox]:checked ~ i:before { transform: translate(2px, 0) rotate(45deg); }
#fbody ul li input[type=checkbox]:checked ~ i:after { transform: translate(-2px, 0) rotate(-45deg); } @keyframes flipdown { 0% { opacity: 0; transform-origin: top center; transform: rotateX(-90deg); } 5% { opacity: 1; } 80% { transform: rotateX(8deg); } 83% { transform: rotateX(6deg); } 92% { transform: rotateX(-3deg); } 100% { transform-origin: top center; transform: rotateX(0deg); } }

#fbody{
-webkit-box-shadow: -5px 7px 80px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 7px 80px -6px rgba(0,0,0,0.75);
box-shadow: -5px 7px 80px -6px rgba(0,0,0,0.75);
}















.grid {
	margin: 0px;
}
.banner-image {
	background: url(//cdn.shopify.com/s/files/1/1311/0223/t/2/assets/blue_small_bg_coopsum.jpg?7176798942312825012 ) bottom center no-repeat, #395c75;
	background-size: cover;
	min-height: 500px;
	color: #fff;
	position: relative;
}
.banner-image h1 {
	float: right;
margin: 27px 50px;
	    font-size: 80px;
  font-weight: 800 !important;
}
.banner-image h2 {
	float: right;
margin: 27px 50px;
	font-size: 40px;
	clear: both;
  text-align: right;
}
.banner-image button {
	float: left;
	position: absolute;
	bottom: 55px;
	left: 5%;
	max-width: 66%;
}
.row {
	margin: 5px 15px;
	clear: both;
	display: block;
}
.section {
position: relative;
    display: block;
    min-height: 500px;
    margin-bottom: 15px;
    padding-top: 30px;

}

.section h3 {
	text-align: center;
  font-size: 47px;
}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
}
.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}
.speaker_image {
}
.bluebg {
	background-color: #e4eef2;
}

.bluebg button {
    position: absolute;
    right: 5%;
    padding: 10px 30px;
}

#fbody button {
    font-size: 20px;
    box-shadow: none;
}
.map {
}
.right_section {
}
.hr_info {
}
.hotel_description {
}
.hotel_img {
float:left;
border-right: solid rgba(0, 0, 0, 0.38);
border-width: 2px;
margin-right: 10px;
width: 149px;
padding: 10px;
}
.hotel_card {
display: block;
border: solid rgba(0, 0, 0, 0.38);
border-width: 2px;
min-height: 150px;
padding: 1px;
margin-bottom: 40px;


-webkit-box-shadow: -5px 7px 80px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 7px 80px -6px rgba(0,0,0,0.75);
box-shadow: -5px 7px 80px -6px rgba(0,0,0,0.75);
position: relative;
}
.hotel_card button {
width: 100%;
height: 25px;
position: absolute;
left:0;
bottom: 0;
font-size: 15px;
border-radius: 0px;
}
#section_2 button {
	display: block;
	margin: auto;
}
button {
	color: #fff;
  font-size: 45px;
	background-color: #f48102;
  text-transform: uppercase;
	padding: 1px 15px;
  border-radius: 6px;
  -webkit-box-shadow: -5px 7px 80px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 7px 80px -6px rgba(0,0,0,0.75);
box-shadow: -5px 7px 80px -6px rgba(0,0,0,0.75);
}

button:hover{
	background-color: #ffa23b;
}


#section_2 hr{
height: 5px;
    background-color: #000;
    margin: auto;
    max-width: 75%;
    margin-top: 25px;
}

#section_2 p {
font-size: 30px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    max-width: 70%;
    margin-bottom: 45px;
}


hr.auth_line {
	max-width: 60px;
	height: 5px;
	margin: 0px;
}


#section_2 > div > div:nth-child(3){
    padding-top: 60px;
}

#fbody img {
    width: 50px;
    float: right;
    margin-right: 40px;
    background-color: #f48102;
    padding: 10px;
    border-radius: 6px;
}
#fbody img:hover {
	background-color: #ffa23b;
}



@media (max-width: 650px) {
.banner-image h2 {
display:none;
}

#map{
display:none;

}


}


</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://use.fontawesome.com/0bee7ae685.js"></script>
<link rel="stylesheet" href="bower_components/css-ripple-effect/dist/ripple.min.css">

<div id="main_content" class="grid">
<!--Main container-->

<!--section 1-->

  <div class="banner-image">

      <h1>COOP SUMMIT</h1>
      <h2>A DEEP DIVE INTO ALL THINGS COOP<br/><br/>
        May 22nd and 23rd 2018</h2>
      <a href="//www.knowledgecoop.com/products/coop-summit-2018"><button>Register</button></a>

  </div>


<!--section 2-->

<div id="section_2" class="row section">
  <div class="grid__item">
    <div class="row">
      <h3>Draw Your Roadmap</h3>
    </div>
    <div class="row">
      <div class="grid__item large--one-half push--large--one-quarter">

        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://fast.wistia.net/embed/iframe/xy02bezm2e?videoFoam=true"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
    <a style="font-size: 30px;" target="_blank" style="" href="https://drive.google.com/file/d/1VqwRtUxVIDm3aDJUm4ct95XfHEOVpwSI/view"><button>Brochure</button></a>
    <p>Learn best practices to increase engagement and
manage your system for today, tomorrow, and years
down the road.</p>

      <a href="//www.knowledgecoop.com/products/coop-summit-2018"><button>Register</button></a>
    </div>


    <div class="row">
<hr/>
      <p>During this 2-Day intensive workshop, we will explore
the lesser-traveled corners of The Coop to help you
gain an in-depth understanding of your system and
gain the most benefit from your Coop.</p>
    </div>
  </div>
</div>
<hr/>
<!--section 3-->

<hr/>
  <!--section 4-->

  <div id="section_4" class="section bluebg">
    <h3>EVENT INFORMATION</h3>
    <div class="grid">
      <div id="map" class="grid__item one-half">
        <div class="map">
          <!--api--AIzaSyA5Eiv6Keb1ZnWj2W7WpG5oaQRqGcJPYmc-->
          <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2794.6567023016146!2d-122.40899198462179!3d45.53711347910186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a2ae617645a7%3A0x9975eb0f90219342!2sMcMenamins+Edgefield!5e0!3m2!1sen!2sus!4v1518205942705" allowfullscreen> </iframe>
        </div>
      </div>
      <div class="grid__item one-half">
        <div class="right_section">
          <div>
            <h4>Registration</h4>
            <hr class="auth_line"/>
            <h5>Now Available!</h5>
          </div>
          <div>
            <h4>Schedule</h4>
            <hr class="auth_line"/>
            <h5><strong>Tuesday :</strong> May 22th 2018</h5>
            <h5><strong>Wednesday :</strong> May 23th 2018</h5>
          </div>
          <a href="//www.knowledgecoop.com/products/coop-summit-2018"><button>Register</button></a>
        </div>
      </div>
    </div>
  </div>

  <!--section 5-->
  <hr/>
  <div class="section">
    <h3>HOTELS</h3>

<div class="row">
    <div class="grid__item push--large--one-sixth large--one-third">
    <div class="hotel_card"> <img class="hotel_img" src="https://c-cdn.knowledgecoop.com/wp-content/uploads/2018/02/11336134_529901513825596_896444977_a.jpg"/>
      <h5>McMenamins Edgefield</h5>
      <h6 class="hotel_description"> Set in a converted 1911 poor house/farm on 74 acres, this bohemian lodging is 1.1 miles from downtown Troutdale, 1.4 miles from Interstate 84 and 2 miles from Columbia River Gorge National Scenic Area.</h6>
    <a target="_blank" href="https://www.mcmenamins.com/edgefield"> <button>Book</button></a>
    </div>
    </div>

    <div class="grid__item push--large--one-sixth large--one-third">
    <div class="hotel_card"> <img class="hotel_img" src="https://c-cdn.knowledgecoop.com/wp-content/uploads/2018/02/200px-Holiday_Inn_Express_logo.svg_.png"/>
      <h5>Holiday Inn Express Portland East – Troutdale</h5>
      <h6 class="hotel_description"> Off I-84, this modern hotel is 11.7 miles from Portland International Airport, and 15 miles from both downtown Portland and Multnomah Falls in the Columbia River Gorge National Scenic Area. </h6>
    <a target="_blank" href="https://www.ihg.com/holidayinnexpress/hotels/us/en/troutdale/ttdtd/hoteldetail?cm_mmc=GoogleMaps-_-EX-_-US-_-TTDTD"><button>Book</button></a>
    </div>
    </div>
</div>



<div class="row">
    <div class="grid__item push--large--one-sixth large--one-third">
    <div class="hotel_card"> <img class="hotel_img" src="https://c-cdn.knowledgecoop.com/wp-content/uploads/2018/02/200px-Motel-6-logo.svg_.png"/>
      <h5>Motel 6 Portland East – Troutdale </h5>
      <h6 class="hotel_description"> This unpretentious budget lodging is next to Interstate 84, 15 miles east of Portland and a mile from the Columbia Gorge Outlets Mall. </h6>
      <a target="_blank" href="https://www.motel6.com/en/motels.or.troutdale.407.html?lid=X_PMG_NaturalSearch_Local_Google_407&utm_source=local&utm_medium=local&utm_campaign=googlelocal-407"><button>Book</button></a>
    </div>
    </div>

    <div class="grid__item push--large--one-sixth large--one-third">
    <div class="hotel_card"> <img class="hotel_img" src="https://c-cdn.knowledgecoop.com/wp-content/uploads/2018/02/comfort-inn-logo-download_M_F.jpg"/>
      <h5>Comfort Inn Columbia Gorge Gateway</h5>
      <h6 class="hotel_description"> Set in a modern 3-story building off Interstate 84, this simple hotel is a 7-minute walk from Columbia Gorge Premium Outlets, a 10-minute walk from Troutdale Airport and 0.8 miles from Sandy River Delta Park.</h6>
      <a target="_blank" href="https://www.choicehotels.com/oregon/troutdale/comfort-inn-hotels/or218?source=gyxt"><button>Book</button></a>
    </div>
    </div>
</div>



  </div>
<hr/>


</div>
<hr/>


<!--Main container-->
{{ page.content }}
