{{ 'bootstrap_wo_fonts.css' | asset_url | stylesheet_tag }}
<style>

.main-content{
  margin-top: 0px;
}


</style>
<div class="row">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
          <iframe src="https://fast.wistia.net/embed/iframe/2qrdxqqrw8?videoFoam=true" title="Wistia video player" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-banner" style="background-image: url(https://cdn.shopify.com/s/files/1/1311/0223/files/Female_holding_house_w_sparkles_resized2.png?4318647144993021092);">
  <div class="wrapper">
    <h2> <i>Better</i> Learning.</h2>
    <h2> <i>Better</i> Communication.</h2>
    <h4>The Mortgage Industry Made <i>Better</i> </h4>
    <a href="/pages/online-ce">ONLINE CE</a> <a href="/pages/speakers">LIVE CE</a> <a href="/pages/the-coop">THE COOP</a> </div>
</div>
