<!-- /templates/page.liquid -->


{{ 'bootstrap_wo_fonts.css' | asset_url | stylesheet_tag }}




<div class="row">
<h2 style="text-align: center;">RISK!</h2>
  <div class="col-lg-8 col-lg-offset-2" >
    <div class="center-block embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//fast.wistia.net/embed/iframe/vm91aqfzj1?videoFoam=true"></iframe>
    </div>
  </div>

</div>
<hr/>

<div class="row">
<h2 style="text-align: center;">Rationalization vs Justification</h2>
  <div class="col-lg-8 col-lg-offset-2" >
    <div class="center-block embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//fast.wistia.net/embed/iframe/zbthxj0nji?videoFoam=true"></iframe>
    </div>
  </div>

</div>
<hr/>


<div class="row">
<h2 style="text-align: center;">3 Dimensions</h2>
  <div class="col-lg-8 col-lg-offset-2" >
    <div class="center-block embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//fast.wistia.net/embed/iframe/wipz57qrgt?videoFoam=true"></iframe>
    </div>
  </div>

</div>

<hr/>





<div class="row">
<h2 style="text-align: center;">Ethics Case Study</h2>
  <div class="col-lg-8 col-lg-offset-2" >
    <div class="center-block embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//fast.wistia.net/embed/iframe/tj1lmq8b6j?videoFoam=true"></iframe>
    </div>
  </div>

</div>

<hr/>


<div class="row">
<h2 style="text-align: center;">Ethical Tests</h2>
  <div class="col-lg-8 col-lg-offset-2" >
    <div class="center-block embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//fast.wistia.net/embed/iframe/gobbq2er03?videoFoam=true"></iframe>
    </div>
  </div>

</div>

<hr/>



<div class="row">
<h2 style="text-align: center;">Final Ethical Tests</h2>
  <div class="col-lg-8 col-lg-offset-2" >
    <div class="center-block embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//fast.wistia.net/embed/iframe/kcrx1rjsvc?videoFoam=true"></iframe>
    </div>
  </div>

</div>


<hr/>




      {% include 'subscribe' %} </div>
  </div>
</div>
