{% layout 'theme.nofollow' %}

<!-- /templates/page.liquid -->

<!--Start-->
<style>
#lp h1 {
	color: #111;
  font-size: 75px;
	line-height: 64px;
	margin: 0 0 0;
	padding: 20px 30px;
	text-align: center;
	text-transform: uppercase;
  font-weight: 400;
}
.date {
	color: #111;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	position: relative;
	text-align: center;
	z-index: 1;
}
.date:before {
	border-top: 1px solid #111;
	content: "";
	position: absolute;
	top: 15px;
	left: 0;
	width: 100%;
	z-index: -1;
}
.author {
	color: #111;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding-bottom: 38px;
	position: relative;
	text-align: center;
	z-index: 1;
}
.author:before {
	border-top: 1px solid #111;
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	width: 100%;
	z-index: -1;
}
.date span, .author span {
	background: #fdfdfd;
	padding: 0 10px;
	text-transform: uppercase;
}
.line {
	border-top: 1px solid #111;
	display: block;
	margin-top: 60px;
	padding-top: 50px;
	position: relative;
}
.heading_two {
	color: #FFF;
	background: #000;
	font-size: 75px;
	line-height: 74px;
	font-weight: 700;
	margin: 0 5px 24px;
	float: left;
	padding: 10px;
	margin: 0 5px 24px;
}


.heading_tops {

}




.faq {
  counter-reset: my-badass-counter;
}
.faq dt {
  position: relative;
  font: bold 16px Georgia;
  padding: 4px 0 10px 0;

  font-size: 25px;
  max-width: 70%;
  text-align: justify;
}
.faq dt:before {
  content: counter(my-badass-counter);
  counter-increment: my-badass-counter;
  position: absolute;
  left: 0;
  top: 0;
  font: 60px/1.5 Sans-Serif;
}
.faq dd {
  margin: 0 0 50px 0;
}
.faq dt, .faq dd {
  padding-left: 50px;
}

#lp p {
text-align: justify;
font-size: 25px;
}




#lp h4 {
font-size: 50px;
}


#lp .date {
font-size: 20px;
font-weight: 500;
}


#contact_form{
    background-color: #000;
    color: #fff;
    margin: 0px -60px;
    min-height:90px;
    margin-bottom: 50px;

}


.hs_email {}
.field {}
.hs-form-field{}

.hs_submit {
    margin-top: 20px;
    margin-left: 3px;
}
#hbspt-form-1483999005984{
padding: 0% 20%;
}
#hsForm_6b8fc147-2611-416d-8f24-65bf44be06d7 {
    display: flex;
}
#hsForm_6b8fc147-2611-416d-8f24-65bf44be06d7 input {
    margin: 0px;
}

.submitted-message{
margin-top: 30px;
}

</style>

{{ 'bootstrap_wo_fonts.css' | asset_url | stylesheet_tag }}

<div id="lp" class="container">
<span class="date"><span class="">2017</span></span>
  <h1>We love compliance</h1>
  <span class="date"><span class="">The Knowledge Coop</span></span>




  <div style="margin-top: 60px;" class="row">
    <div class="col-md-8">

      <!-- 16:9 aspect ratio###//fast.wistia.net/embed/iframe/g11xp8aenv -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//fast.wistia.net/embed/iframe/g11xp8aenv"></iframe>


      </div>

<h3>* Kirsten Anderson and Ken Perry</h3>

    </div>
    <div class="col-md-4"> <p>We love compliance and we’re sure you do too. We also love the mortgage industry and want every Mortgage Loan Originator in the nation to never have the excuse of "I didn't know ________." Especially when it is as important as legal activity in the state where they are doing business.

</p> </div>
  </div>
  <div class="row">
    <div class="container">
    <p style="margin-top: 30px;">
		As professional trainers, we believe that great communication happens over time using multiple instances and methods. That's why we write, video, speak, and text our clients as often as we can. We know that you do the same thing in your own ways!</p> <p>In our research, we've been to every state regulator's web page, read the publications and the alerts, and looked up all the information we need to teach NMLS Approved Continuing Education classes. So we know that you already produce all the tools that any licensed individual or company needs to be engaged and compliant in your state.</p> <p>But we want to help you get the message out again, in different ways. Check out this video with Kirsten Anderson the Licensing Manager, Division of Financial Regulation, Oregon Department of Consumer and Business Services. Chances are you've heard from her before through her work with the MMC and AARMR as well as her involvement in other organizations and industry conferences.
	</p></div>
  </div>
  <hr style="border-top: 4px solid #000; margin: 40px 0px;"/>
  <div class="row"><div class="col-md-10"> <span class="heading_two">How</span> <span class="heading_two">do</span> <span class="heading_two">you</span> <span class="heading_two">get</span> <span class="heading_two">your </span> <span class="heading_two">message </span> <span class="heading_two">out </span> <span class="heading_two">this </span> <span class="heading_two">way? </span>
  </div></div>
  <div class="row">
    <p style="font-size: 50px;margin-bottom: 50px;">- That's the easy part:</p>
    </span>
  </div>



  <dl class="faq">

  	<dt>Use the contact form below to let us know you're interested and what questions you have.</dt>
    <dd></dd>
  	<dt>We will follow any process your department has for this type of interview approval.</dt>
    <dd></dd>
  	<dt>We will work with you to design the interview so you can dictate topics, conversation flow, who is on camera (and who is not), what you want to talk about (and what is off limits), etc.</dt>
    <dd></dd>



    <dt>We schedule a time to come to you, or we can do an interview remotely if you prefer.</dt>
    <dd></dd>

    <dt>Together we will determine the best way to release the information.</dt>
    <dd></dd>

  </dl>



<div id="contact_form" class="row">

<div class="container">

  <div class="col-md-8">
  <p class="text-center" style="margin-top: 20px;">Submit your email to get in touch</p></div>

  <div class="col-md-4">

<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
    css: '',
    portalId: '2141168',
    formId: '6b8fc147-2611-416d-8f24-65bf44be06d7'
  });
</script>


  </div>

</div>


</div>
<div class="container">
<div class="col-md-8 col-sm-offset-1">
  <h4>Thank you for your time</h4>
  <p>We strive to be the Best Friend to the Mortgage Industry by teaching anyone who will listen the information that will help them stay compliant, operate legally, and serve their community best. We are positive that this lines up with your mission statement too (after all, we've read each one).
    It will be our pleasure to serve our industry in this way with you. </p>
  <p style="text-align: inherit;">Sincerely,<br/>
  Nathan Knottingham, Director of Content Development<br/>
    The Knowledge Coop</p>
  <p>PS.</p>
  <p>If you want to see a finished product, please take a look at this segment video that we filmed with Kirsten in October 2016 for our classes in 2017. And she sent us a great letter outlining why she believes in this process so much <a href="{{ 'Kirsten_Anderson_Letter.pdf' | asset_url }}"> Kirsten’s Letter</a>.<br>
    We look forward to hearing from you soon! </p>

    </div>

</div>
<div style="margin-top: 40px;" class="container">
  <h4 style="margin-bottom: 40px;">Oregon Part 1</h4>
  <div class="col-md-8 col-sm-offset-2">

    <!-- 16:9 aspect ratio### -->
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//fast.wistia.net/embed/iframe/xvq6xfsgek"></iframe>
    </div>
  </div>
</div>

<hr/>
<!--End-->

</div>
{% comment %}
Regular page content goes here.
{% endcomment %}
<div class="rte"> {{ page.content }}
  {% include 'subscribe' %} </div>
