<!-- /templates/page.liquid -->

<style>


#intro_copy_block h1 {
color: #29afcb;
}

#intro_copy_block h2 {
    font-size: 1.5rem;
}


.cc_video_title_block h4{
  font-style: italic;
}


#contact_block p {
    font-weight: 600;
}
#contact_block{

  background-color: #d0d0d0;
      padding: 15px;


}


.main-content {
    clear: both;
    overflow: auto;
}

#contact_block button {
    color: #fff;
  }

.cc_video_title_block {
  background-color: #179aba;
      color: #fff;
      overflow: visible;
      padding: 10px;
      margin: 20px 10px;
      border: 2px solid #000;

}

.cc_video_block {
    overflow: auto;
}

.cc_video_text_block {
  padding-right: 20px;
  padding-top: 15px;
}


@media(max-width: 770px) {
    .video-wrapper {
        position: relative;
        overflow: visible;
        max-width: 100%;
        padding-bottom: 56.25%;
        height: 0;
        height: auto;
    }
}


</style>


<div class="grid">
<div class="grid__item large--two-thirds push--large--one-sixth">


<!-- Start html -->






<div class="cc_lp_wrapper grid">
<div id="left_side" class="grid__item large--one-third">
  <div id="intro_copy_block">
    <h1>Case In Point: Guild Mortgage Company</h1>
      <h2>The Knowledge Coop Lightens Up Ethics Training for Guild</h2>

      <p>Despite the Training Department’s best efforts, they couldn’t convince their people to pay attention to the ethics training. If they were going to get through to people, they needed something more engaging. </p>
      <p>When companies talk about ethics, it’s usually little more than a list of "Do’s and Don’ts." Add in some other dry topics (like company policies), it’s just a recipe for a midday nap. This training approach has no impact or, worse yet, makes people actively avoid learning it.</p>
      <p>Guild had to find a way to make this training work, and humor came to the rescue.</p>
      <p>We worked with the Chief Compliance Officer to get a better understanding of what what they envisioned. They needed ethics training for MLO’s and other employees as well. They were looking for something entertaining and memorable.</p>
      <p>So we got silly! Check out these clips to get an idea of what we delivered for them, and what we can do for you too.</p>
  </div>
  <div id="contact_block">
    <p>Like what you see? If you’re interested custom content from The Knowledge Coop to give your company training a fun boost, email Nathan at nathan@knowledgecoop.com. </p>
    <a style="margin: 0 auto;display: block; color:#fff" class="btn" href=""><button>Click Here, Get Yours!</button></a>
  </div>
</div>


<div id="right_side" class="grid__item large--two-thirds">
    <div class="cc_video_block">
      <div class="cc_video_title_block">
        <h3>White Out and Glue</h3>
        <h4>Ethics Training Video for MLO's</h4>
      </div>

      <div class="cc_video_text_block small--hide grid__item large--three-eighths">
        <p>For their LO’s they needed training on Ethical issues that loan officers are likely to face</p>
      <ul>
        <li>Changing information given by borrowers,</li>
        <li>Substantive conversations with an appraiser,</li>
        <li>Receiving documents from a party other than the borrower, etc…</li>
      </ul>
      </div>
      <div class="cc_video_video_block">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-BJ3wtDc_9s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
              <div class="cc_video_block">
                <div class="cc_video_title_block">
                  <h3>Welcome to The Ethics Zone</h3>
                  <h4>Ethics Training Video for MLO's</h4>
                </div>

                <div class="cc_video_text_block small--hide grid__item large--three-eighths">
                  <p> For their LO’s they needed training on Ethical issues that loan officers are likely to face </p>
                  <ul>
                    <li>Changing information given by borrowers,</li>
                    <li>Substantive conversations with an appraiser,</li>
                    <li>Receiving documents from a party other than the borrower, etc…</li>
                  </ul>
                </div>
                <div class="cc_video_video_block">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CIWABS8HkNw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              </div>
</div>

</div>












<!-- END HTML -->

</div>
