<!-- /templates/consulting w banner.liquid -->
<div class="live-ce-banner" style="background-image: url({{ page.metafields.global.banner }}); max-height: 175px; margin-top: -54px; box-shadow: 1px 2px 5px 2px #333;">
</div>
<div class="grid">

  <div class="grid__item large--two-thirds push--large--one-sixth">

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>
{% include 'subscribe' %}